{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/styles' %}">
{% endblock head %}


{% block extracont %}
    <div class="container">
        <ul>
            {% for invite in invites %}
            <li>
                {{invite}}
            </li>
            {% endfor %}
            
        </ul>
    </div>
{% endblock extracont %}
    