{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/styles' %}">
{% endblock head %}


{% block extracont %}
    <div class="container mt-4">
        
        {% if is_empty %}
        <div class="alert alert-secondary" role="alert">
            You dont have any friend requests
        </div>

        {% endif %}
        <div class="ui cards">
            {% for sender in senders %}
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src={{sender.avatar.url}}>
                <div class="header">
                  {{sender.get_display_name}}
                </div>
                
                {% if sender.friends  %}
                <div class="meta">
                    Friends of {{sender.get_display_friends}}
                </div>
                {% endif %}
                    
                <div class="description">
                    {{sender.get_display_bio}}...
                </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons centerbtns">
                        <form action="{% url 'profile:accept-invites' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="sender_pk" value={{sender.pk}}>
                            <button type="submit" class="btn btn-outline-success">
                                Approve
                            </button>
                        </form>
                        <form action="{% url 'profile:reject-invites' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="sender_pk" value={{sender.pk}}>
                            <button type="submit"  class="btn btn-outline-danger" >
                                Decline
                            </button>
                        </form>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock extracont %}
    