

.badge-subhead {
  margin-bottom: 8px;
  padding: 10px 30px;
  background-color: rgba(116, 116, 116, 0.15);
  color: #747474;
  font-size: 14px;
  border-radius: 40px;
}


/* Page */
.vg-page {
  position: relative;
  display: block;
  padding: 80px 0;
  width: 100%;
  overflow: hidden;
}

.page-home {  
  padding: 25px 0;
  width: 100%;
  height: 700px;
  z-index: 99;
}

.page-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 57, 57, 0.8);
  z-index: -1;
}

.page-home .navbar {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(104, 102, 102, 0.8);
  z-index: 99;
}

.page-home .navbar.floating {
  top: 0;
  background-color: #343a40;
}

.page-home .caption-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 10;
}

.page-home h1 {
  font-size: 50px;
}

.page-home .badge {
  padding: 16px 24px;
  background-color: rgba(239, 56, 36, 0.15);
  color: #EF3724;
  text-shadow: 0 2px 4px rgba(23, 25, 37, 0.4);
  font-size: 16px;
  border-radius: 40px;
}

.page-home .floating-button {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 21px;
  cursor: pointer;
  z-index: 10;
}


.page-about {
  background-color: #fff;
}

.page-about .img-place {
  width: 280px;
  height: 350px;
  background-color: #dfe0e6;
  overflow: unset;
}

.page-about .img-place::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -35px;
  width: 100%;
  height: 100%;
  border: 5px solid #747474;
  z-index: -1;
}




/* Theme color style */
/* Theme Red */

.fg-theme{
  color: #ef3724 !important;
}
.theme-red .badge-subhead {
  background-color: rgba(239, 56, 36, 0.15);
  color: #EF3724;
}

.theme-red .filterable-button .btn.selected,
.theme-red .filterable-button .btn:focus {
  background-color: #EF3724;
  color: #fff;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #EF3724;
}

.theme-red .page-about .img-place::before {
  border-color: #EF3724;
}


