:root {
    --pri-col: #e67e22;
    --sec-col: #374386;
    --text-col:#fff;
  }
  

.nav{
    background-color: var(--pri-col) !important;
}

.secbtn{
    background-color: var(--sec-col) !important;
    color:var(--text-col)!important;
}

.ui.menu{
    margin: 0 !important; 
}

.ui.card{
    width: 100% !important;
}

.display_cont{
    display: contents;
}

.fg-theme{
    color: #ef3724 !important;
  }

.comment_card{
    width: 100% !important;
}